<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.mapper.SubjectMapper">

    <insert id="insert" parameterType="com.yuan.domain.Student">
        insert into subject values(null,#{id},#{type},#{subject.a},#{subject.b},#{subject.c},#{subject.d})
    </insert>

    <update id="update" parameterType="com.yuan.domain.Student">
        update subject set type=#{type},subject_a =#{subject.a},subject_b =#{subject.b},subject_c =#{subject.c},
                           subject_d =#{subject.d} where s_id=#{id}
    </update>

    <delete id="delete" parameterType="com.yuan.domain.Student">
        delete from subject where s_id =#{id}
    </delete>

    <delete id="deleteList" parameterType="java.util.List">
        delete from subject where s_id in
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item.id}
            </foreach>
    </delete>

    <insert id="saveApply">
        insert into apply values (#{id},#{s_id},#{name},#{phone},#{date},#{subject},#{url},#{status})
    </insert>

    <select id="findApply" resultType="java.lang.Integer">
        select count(*) from apply where s_id=#{s_id} and status=0
    </select>

    <select id="getApplicationListById" resultType="com.yuan.domain.SubjectApply">
        select * from apply where s_id = #{id} order by id desc
    </select>

    <select id="getList" resultType="com.yuan.domain.SubjectApply">
        select * from apply
        <where>
            <if test="status == null or status ==''">
                and status!=3
            </if>
            <if test="status != null and status !='' or status ==0 ">
                and status!=3 and status=#{status}
            </if>
            <if test="keyWord != null and keyWord !=''">
                and name like concat('%',#{keyWord},'%') or phone =#{keyWord}
            </if>
        </where>
        order by id desc
    </select>

    <update id="cancelApply">
        update apply set status = 3 where id=#{id}
    </update>

    <update id="updateApply">
        update apply set status = #{status} where id=#{id}
    </update>

    <update id="updateSubjectA">
        update subject set subject_a=1 where s_id=#{id}
    </update>
    <update id="updateSubjectB">
        update subject set subject_b=1 where s_id=#{id}
    </update>
    <update id="updateSubjectC">
        update subject set subject_c=1 where s_id=#{id}
    </update>
    <update id="updateSubjectD">
        update subject set subject_d=1 where s_id=#{id}
    </update>


</mapper>
